.main{
    width: 40rem;
   display: flex;
   margin-left: 25rem;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   border: 1px solid gray;
}

.txt{
    text-align: center;
    width: 100%;
    background-color: rgb(109, 109, 202);
}

.txt2{
    text-align: center;
    width: 100%;
    background-color: rgb(173, 173, 206);
}

.Footer{
  padding-top:5rem;
 margin-left: 5rem;
}