.main{
    width: 40rem;
   display: flex;
   margin-left: 25rem;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 1rem;
   border: 1px solid gray;
}
h1{
    border-radius: 30px;
    border: 1px soild rgb(124, 23, 23);
}