.container{
display:flex;
justify-content: center;
align-items: center;
height:50vh;
gap:2rem;
}
.input{
    padding: 1rem;
    width:25rem;
    font-size: 2rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    background-color: black;
    color: #fff;
    /* background-color: rgb(27, 124, 168);
    color:#fff; */
}
.container1{
    display:flex;
    flex-direction:column;

}
.container1 h1{
    text-align: center;
    font-size: 2.5rem;
}
.icon{
    font-size: 12rem;
    display:flex;
    align-items: end;
}